/*  */

.inpGasto {
  /* width: 40%; */
  display: flex;
  padding: 0.8vh 1vw;
  border: 1px solid;
  border-color: #f5f5fb;
  border-radius: 10px;
  background-color: #f5f5fb;
  /* font-size: $font-size-sm; */
  /* font-family: $font-family; */
  color: #0e0e0e;
  outline: none;
}
.GastosFormContainer {
  left: 970px;
  top: 300px;
  position: absolute;
}
